./bin/
./lib/
./temp/
documentation/_build/
performance/bin/
performance/pkg/
deploy/bin/
.objs/
.deps/
.docs/
.dist/
.out/
.extdep/
test/correctness/dist/
test/correctness/local/
certs/
upsert_test.csv

packages/
packaging/msi/FDBInstaller.wix*
packaging/msi/FDBInstaller.msi
packaging/msi/*.log
packaging/msi/obj

*.g.cpp
*.g.h
*.g.S
*.g.asm
*.sdf
*.swp
*.opensdf
*.user
*.suo
*.pyc
*.amplxelink
*.inspxelink
*.class
*.rej
trace.*
fdbdoc-trace.*
tags
*~
.idea/*
.vscode/*

smoke_tests/nodejs/node_modules/
smoke_tests/**/target/

test/correctness/upsert_test.csv

*.out
scrap/

node_modules/

*.running
*.failed

build*/

*.egg-info/
fdb.cluster
config
